@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: none;
}

.checkbox-group {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 10px auto 10px auto;
	max-width: 600px;
	user-select: none;
	& > * {
		margin: .5rem 0.5rem;
	}
}

.wrapper {
  background: #fff;
  width: 100%;
  max-width: 420px;
  color: #fff;
  padding: 30px 40px;
  border: 2px solid rgb(156, 160, 172);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  margin: 0 auto;
}

.underline {
	color: #000;
	font-size: 20px;
	padding-bottom: 10px;
  border-bottom: 4px solid rgb(20, 228, 112 );
	width: 70px;
}


.checkbox-input {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:checked + .checkbox-tile {
		border-color: rgb(24, 212, 108);
		box-shadow: 0 5px 10px rgba(#000, 0.1);
		color: rgb(20, 228, 112 );
		&:before {
			transform: scale(1);
			opacity: 1;
			background-color: rgb(20, 228, 112 );
			border-color:rgb(20, 228, 112 );
		}
		
		.checkbox-icon, .checkbox-label {
			color: rgb(20, 228, 112 );
		}
	}
	
	&:focus + .checkbox-tile {
		border-color: rgb(20, 228, 112 );
		box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #b5c9fc;
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-tile {
	flex-wrap: wrap;
	width: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 7rem;
	border: 2px solid rgb(156, 160, 172);
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 5px 10px rgba(#000, 0.1);
	transition: 0.15s ease;
	cursor: pointer;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 1.25rem;
		height: 1.25rem;
		border: 2px solid rgb(156, 160, 172);
		background-color: #fff;
		border-radius: 50%;
		top: 0.25rem;
		left: 0.25rem;
		opacity: 0;
		transform: scale(0);
		transition: 0.25s ease;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
		background-size: 12px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:hover {
		border-color: rgb(20, 228, 112 );
		&:before {
			transform: scale(1);
			opacity: 1;
		}
	}
}

.checkbox-icon {
	transition: .375s ease;
	color: #494949;
	svg {
		width: 3rem;
		height: 3rem;
	}
}

.checkbox-label {
	color: rgb(156, 160, 172);
	transition: .375s ease;
	text-align: center;
}

.input-container input {
  width: 100%;
  height: 15px;
  border: 1px solid rgb(156, 160, 172);
  padding: 20px;
  font-size: 0.8rem;
}

.input-container input:hover {
	border-color: rgb(20, 228, 112);
}

.input-container input:focus {
	outline: none !important;
	border:1px solid rgb(20, 228, 112 );
}

.login-btn {
	margin-top: 20px;
	width: 100%;
  height: 35px;
  background: rgb(24, 212, 108);
  outline: none;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  font-weight: 700;
  color: #fff;
  font-size: 0.9rem;
	transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: rgb(20, 228, 112 );
  cursor: pointer;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	transform: scale(1.05); 
}

label {
	font-size: 12px;
	color: rgb(156, 160, 172);
	font-weight: 700;
}

.input-container .icon{
	color: rgb(156, 160, 172);
	position: absolute;
	right: 20px;
	top: 40%;
	transform: translateY(-50%);
	font-size: 15px;
}

.wrapper .input-container {
	position: relative;
	width: 100%;
	height: 50px;
	background: #fff;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background: #111;
  background-size: cover;
  background-repeat: no-repeat;
}

*
{
  margin: 0;
  padding: 0;
}

section
{
  position: relative;
  width: 100%;
  height:100vh;
  background: #111; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section .row
{
  top: -50%;
  position: relative;
  width:100%;
  height: 100vh;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 80px;
  transform: rotate(-30deg);
}
.i
{
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

.i:hover
{
transition: 0s;
color: #0f0;
text-shadow: 0 0 120px #0f0;
}

section .row .div-icon
{
  animation: animate1 80s linear infinite;
  animation-delay: -80s;
}

section .row .div-icon:nth-child(2)
{
  animation: animate2 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate1
{
  0%
  {
    transform: translateX(100%);
  }
  100%
  {
    transform: translateX(-100%);
  }
  
}
@keyframes animate2
{
  0%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-200%);
  }
}


section .row:nth-child(even) .div-icon
{
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}

section .row:nth-child(even) .div-icon:nth-child(2)
{
  animation: animate4 80s linear infinite;
  animation-delay: -40s;
}
@keyframes animate3
{
  0%
  {
    transform: translateX(-100%);
  }
  100%
  {
    transform: translateX(100%);
  }
  
}
@keyframes animate4
{
  0%
  {
    transform: translateX(-200%);
  }
  100%
  {
    transform: translateX(0%);
  }
}
