.container {
  padding-bottom: 10px;
}

.container h1 {
  color: #CDA4C6;
}

.question-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Tạo lưới 2 cột */
  gap: 20px;
  padding-top: 20px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.question-grid.fade-out {
  opacity: 0;
  transform: scale(0.95);
  /* Thay đổi kích thước một chút để tạo hiệu ứng */
}

.question-grid.fade-in {
  opacity: 1;
  transform: scale(1);
  /* Trở lại kích thước gốc */
}

.question-card {
  background-color: #101936 !important;
  border-radius: 10px;
  color: #e0e0e0;
  padding: 15px;
  position: relative;
  /* Thay đổi chiều cao của thẻ theo nội dung */
  display: flex;
  flex-direction: column;
}

.question-card p {
  font-weight: bold;
  margin: 0;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background: none;
  border: none;
  color: #FA6D73;
  padding-left: 20px;
  font-size: 17px;
  cursor: pointer;
}

.dropdown button:hover {
  background: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #F5F5F5;
  min-width: 100px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown.active .dropdown-content {
  display: block;
}

.dropdown-content button {
  width: 100%;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #edc7ed;
  opacity: 70%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 600px;
  overflow-y: auto;
  padding: 20px;
}

.popup textarea {
  width: 450px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 30px;
  padding: 5px;
  resize: none;
  /* Disable manual resizing */
}


.popup button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056b3;
}

/* New styles for the Delete button */
.delete-button {
  background-color: #FFA500;
  color: white;
  margin-top: 20px;
}

.delete-button:hover {
  background-color: #d9363e;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header.fade-out {
  opacity: 0;
  transform: scale(0.95);
}

.header.fade-in {
  opacity: 1;
  transform: scale(1);
}

.header h1 {
  margin: 0;
}

.reply-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 50px;
  background-color: #f8f8f8;
}

.reply-row p {
  flex-grow: 1;
  text-align: left;
  margin-left: 20px;
}

.reply-actions {
  display: flex;
}

.reply-actions button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.reply-actions button:hover {
  background-color: #0056b3;
}